* {
  margin: 0;
  padding: 0;
  box-sizing: none;
}

.container {
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: darkblue;
  display: flex;
  flex-direction: column;
  /* align-items: center; this ruins the display for some reason */
  box-sizing: content-box;
  width: 350px;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
}

.display {
  display: flex;
  justify-content: right;
  background-color: white;
  height: 90px;
  border-radius: 20px;
}

#display__text {
  /* text */
  padding: 30px 15px 0 0;
  font-size: 50px;
}

#button__container {
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
}

.button {
  background-color: white;
  height: 90px;
  border-radius: 20px;
  font-size: 20px;
}

.button:hover {
  opacity: 90%;
}
